<h1>About</h1>

<p>
  I graduated first in class from the Technic University of Madrid with a Master's Degree in Computer Engineering.
</p>

<p>
  Currently I work for a company in the Semiconductors industry. In the past
  I've worked in the Aerospace industry. I've mainly worked on developing
  Embedded Software, Simulators, and Systems Software.
</p>

<p>
  Original author of <a href="https://wiki.gnome.org/Apps/2048" target="_blank">GNOME 2048</a>.
</p>

<p>
Last books I got:

<ul>
  <li>Eric S. Raymond -- The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary</li>
  <li>David Patterson & Andew Waterman -- The RISC-V Reader: An Open Architecture Atlas</li>
</ul>
</p>
