<h1>About</h1>

<p>
  I graduated first in class from the Technic University of Madrid with a Master's Degree in Computer Engineering.
</p>

<p>
  Currently I work for a company in the Aerospace industry developing Embedded Software and Systems Software.
</p>

<p>
  Original author of <a href="https://wiki.gnome.org/Apps/2048">GNOME 2048</a>.
</p>

<p>
Last books I got:

<ul>
  <li>Eric S. Raymond -- The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary</li>
  <li>David Patterson & Andew Waterman -- The RISC-V Reader: An Open Architecture Atlas</li>
</ul>
</p>

<p>
  <a href="https://github.com/juanrgar" target="_blank">Github</a> |
  <a href="https://twitter.com/juanrgar" target="_blank">Twitter</a> |
  <a href="https://www.linkedin.com/in/juanrgar" target="_blank">LinkedIn</a>
</p>

<a href="https://www.gnu.org" target="_blank"><img class="logo" src="/assets/images/gnulogo.png" alt="GNU Logo"></a>
<a href="https://www.gnome.org" target="_blank"><img class="logo invert" src="/assets/images/gnomelogo.png" alt="GNOME Logo"></a>
<a href="https://www.macports.org" target="_blank"><img class="logo" src="/assets/images/mplogo.png" alt="MacPorts Logo"></a>
