<h1>Projects</h1>

<p>
Here's a list of some of my personal projects:

<ul>
  <li><a href="https://juanrgar.github.io/chip8emu" target="_blank">CHIP-8 Emulator</a>. Written in JavaScript for the Web.</li>
</ul>
</p>

<p>Free and open source software projects I have contributed to:</p>
<a href="https://www.gnu.org" target="_blank"><img class="logo" src="/assets/images/gnulogo.png" alt="GNU Logo"></a>
<a href="https://www.gnome.org" target="_blank"><img class="logo invert" src="/assets/images/gnomelogo.png" alt="GNOME Logo"></a>
<a href="https://www.macports.org" target="_blank"><img class="logo" src="/assets/images/mplogo.png" alt="MacPorts Logo"></a>
